body {
  background-color: #06283d;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 5rem;
  background-color: #47b5ff;
  text-align: center;
  border-radius: 2%;
}

.selection {
  font-size: 2rem;
}

select {
  width: 15%;
  margin: 2rem 0 0 1rem;
  font-size: 2rem;
  text-align: center;
  background-color: dodgerblue;
  border: 1px solid black;
  border-radius: 10%;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

#dice {
  border: 2px solid black;
  font-size: 5rem;
  width: 8rem;
  line-height: 8rem;
  background-color: #256d85;
  margin: 4rem auto;
  border-radius: 10%;
  color: #dff6ff;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
